<!DOCTYPE html>
<html lang="en">

<head>
    <title>All posts</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <h1>Quora posts</h1>
    <% for(post of posts){%>
        <div class="post">
            <h3 class="user">
                @<%=post.username%>
            </h3>
            <h4 class="content">
                <%= post.content %>
            </h4>
            <br>
            <a href="http://localhost:8080/posts/<%=post.id%>">See in detail</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://localhost:8080/posts/<%=post.id%>/edit">Edit post</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
                <button>delete post</button>
            </form>
        </div>
        <%} %>

            <br><br>
            <a href="http://localhost:8080/posts/new">Create new post</a>
</body>

</html>